@{
    ViewData["Title"] = "Home Page";
}

@model CurrencyExchange.Models.Conversion;

<div class="text-center">
    <h2>
        Welcome to Currency Exchange! 
    </h2>

    <p>
        On this site you can view exchange rates, convert money, follow different currencies and get notified if the rate is below/above desired value.
    </p>
</div>
